header {
  font-family: Ink Free;
  font-weight: bold;
  font-size: 15pt;
}

hr {
  border-width: 2px;
  border-color: lightgray;
  margin-left: 25%;
  margin-right: 25%;
}

#logo {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

li a {
  color: black;
}

.nav {
  padding-bottom: 15px;
}

li a:hover {
  color: #c7bab5;
}

.img-thumbnail {
  height: 7cm;
  width: auto;
}

h4 {
  font-weight: bold;
  font-family: cursive;
}

.endLine {
  position: absolute;
  top: 29cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  padding-bottom: 0.5cm;
}